fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx>=0.28.1
langchain>=0.3.0
langchain-core>=0.3.15
langchain-groq
langchain-google-genai
langgraph>=0.1.0
pinecone
playwright
beautifulsoup4
python-dotenv
tenacity
jinja2
pillow>=10.0.0
google-genai
ffmpeg-python>=0.2.0
aiofiles>=23.0.0
pymongo
sentence-transformers
google-cloud-texttospeech>=2.16.0
rife-ncnn-vulkan-python>=1.4.0
